

.chat {
  height: 100px;
  display: flex;
  width: 100%;
  cursor: pointer;
  background-color: #FDF7FF;
  align-items: center; /* Center items vertically */
}


.chat:hover{
  background-color: #ffffff;
}

.chatlistAvatar {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  object-fit: cover; /* Ensures the avatar fills the container while maintaining aspect ratio */
  border-radius: 50%; /* Optional, for a circular avatar */
}


.info{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.background{
  background-color: #f5f5dc;
}

.username{
  margin: 10px;
}

p{
  text-align: center;
}

.info p {
  text-align: left; /* or center, depending on your preference */
  margin: 0; /* Adjust margins if needed */
}


