.chats-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f4f0f0;
}


.container {
  display: flex;
  justify-content: flex-start; /* Измените на flex-end для выравнивания вправо */
  padding: 10px; /* Отступы вокруг контейнера */
}

.message {
  background-color: #e8ffe8; /* Цвет фона для сообщения */
  border-radius: 20px; /* Скругленные углы */
  padding: 10px 15px; /* Отступы внутри сообщения */
  max-width: 80%; /* Ограничиваем максимальную ширину сообщения */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Легкая тень */
  position: relative; /* Для псевдоэлементов */
  height: 50px;
}

.message p {
  text-align: center;
  margin: 0; /* Убираем отступы у параграфа */
  color: #333; /* Цвет текста */
  font-size: 16px; /* Размер текста */
}

/* Псевдоэлемент для создания "хвоста" сообщения */
.message::after {
  content: "";
  position: absolute;
  bottom: 100%; /* Позиционируем выше сообщения */
  border-width: 8px; /* Размер "хвоста" */
  border-style: solid;
  border-color: transparent transparent #e8ffe8 transparent; /* Цвет "хвоста" */
}


.container-subMessage{
  display: flex;
  align-items: center;
  gap: 10px; 
}

.inp-user{
  padding: 10px;
  width: 40%;
  margin: auto;
  height: 30px;
}

.inp-message{
  flex: 1;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.sub-message{
  padding: 0.7rem 0.5rem;
  background-color: #3e6ae1;
  color: #ffffff;
}

