@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 70px;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Цвет фона для шапки */
  height: 50vh; /* Занимает 50% высоты окна */
  overflow: hidden; /* Скрывает часть изображения, выходящую за границы */
  position: relative;
}

.header-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрирование изображения по вертикали и горизонтали */
}

.header-info a{
  text-decoration: none;
  color: black;
}

main {
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
}

.inner_main{
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  
}

h3 {
  margin-bottom: 1rem;
}

section ul {
  list-style: none;
}

section ul li {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.content,
p {
  padding: 1rem 0;
}


.p-description{
  line-height: 1.5;
}
.header-info{
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}
